:root {
    --base00: #2b303b;
    --base01: #343d46;
    --base02: #4f5b66;
    --base03: #65737e;
    --base04: #a7adba;
    --base05: #c0c5ce;
    --base06: #dfe1e8;
    --base07: #eff1f5;
    --base08: #bf616a;
    --base09: #d08770;
    --base0A: #ebcb8b;
    --base0B: #a3be8c;
    --base0C: #96b5b4;
    --base0D: #8fa1b3;
    --base0E: #b48ead;
    --base0F: #ab7967;
}

/* id */
#overview {
    grid-area: overview;
    max-height: 100vh;
}

#toy {
    grid-area: toy;
    max-height: 100vh;
}

#blog {
    grid-area: blog;
    max-height: 100vh;
}

#footer {
    grid-area: footer;
    justify-self: center;
    align-self: end;
    max-height: 3vh;
}

/* html elements  */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--base00);
    color: var(--base07);
    font-weight: lighter;
    margin: 1vh 2vh;

    display: grid;
    gap: 1vh 2vh;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: stretch;

    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "overview"
        "toy"
        "blog"
        "footer"
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-bottom: 0.3em;
    padding-left: 1em;
    text-indent: -1em;
}
li:before {
    color: var(--base0E);
    content: ">";
    padding-right: 8px;
}

/* class */
.box {
    padding: 0.1em 1em;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--base02);
    overflow: auto;
}

.orange {
    --current-color: var(--base09);
    color: var(--current-color);
}

.blue {
    --current-color: var(--base0C);
    color: var(--current-color);
}

.red {
    --current-color: var(--base08);
    color: var(--current-color);
}

.green {
    --current-color: var(--base0B);
    color: var(--current-color);
}

.link:hover {
    background-color: var(--current-color);
    color: var(--base00);
}

/* mobile */
@media only screen and (min-width: 992px) {
    body {
        grid-template-columns: 48vw 48vw;
        grid-template-rows: 36vh 52vh 2vh;
        grid-template-areas:
            "overview overview"
                "toy blog"
                "footer footer"
    }

    #overview {
        grid-area: overview;
        max-height: 34vh;
    }

    #toy {
        grid-area: toy;
        max-height: 58vh;
    }

    #blog {
        grid-area: blog;
        max-height: 58vh;
    }
}
