<center id="pico_8_game">
    <div style="width:512px;">
        <script>
        function load_game() {
            var script = document.createElement('script');
            script.setAttribute('type', 'text/javascript');
            script.setAttribute('src', "{{ "/assets/games" | relative_url }}/{{ include.content }}.js");
            document.getElementById("pico_8_game").appendChild(script);
        }
        </script>

	<canvas
            class="emscripten"
            id="canvas"
            oncontextmenu="event.preventDefault()"
            onclick="load_game();">
        </canvas>

        <script type="text/javascript">
	var canvas = document.getElementById("canvas");
	canvas.width = window.innerWidth;
	canvas.height = window.innerHeight;

        var ctx = canvas.getContext("2d");
        ctx.font = "60px Arial";
        ctx.fillStyle = "white";
        ctx.strokeStyle = "white";
        ctx.textAlign = "center";
        ctx.fillText("Load Game", canvas.width / 2, canvas.height / 2);
        ctx.strokeRect(0, 0, canvas.width, canvas.height);
	var Module = {};
	Module.canvas = canvas;
	</script>

        <script>
	function onKeyDown_blocker(event) {
	    event = event || window.event;
	    var o = document.activeElement;
	    if (!o || o == document.body || o.tagName == "canvas")
	    {
		if ([32, 37, 38, 39, 40].indexOf(event.keyCode) > -1)
		{
		    if (event.preventDefault) event.preventDefault();
		}
	    }
	}

	document.addEventListener('keydown', onKeyDown_blocker, false);
	</script>

        <div class="pico8_buttons">
	    <div class="pico8_el" onclick="Module.pico8Reset();">
	        Reset
            </div>
	    <div class="pico8_el" onclick="Module.pico8TogglePaused();">
	        Pause
            </div>
	    <div class="pico8_el" onclick="Module.requestFullScreen(true, false);">
	        Fullscreen
            </div>
	    <div class="pico8_el" onclick="Module.pico8ToggleSound();">
	        Sound
            </div>
	    <div class="pico8_el">
                <a target="_new" href="http://www.lexaloffle.com/bbs/?cat=7&sub=2">Carts</a>
            </div>
        </div>
    </div>
</center>
