<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta content="utf-8" http-equiv="encoding" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" rel="stylesheet" />

        <link rel="shortcut icon" href="{{ "/assets/favicon.png" | relative_url }}">
        <title>{{ page.title }} | {{ site.title }}</title>
    </head>
    <body>
        <main class="content">
            {{ content }}
        </main>
        <footer class="footer">
            <span>you can contact me at alectroemel (at) hotmail.com</span>
            <a href="/">Home</a>
        </footer>
    </body>
</html>
